html
  head
    link(rel="stylesheet" href="https://cdn.rtlcss.com/semantic-ui/2.4.1/semantic.rtl.min.css")
    link(rel='stylesheet' href="/stylesheets/style.css")

  body(style="background-color:"+background_color)
   div(class="ui container")
    h1 Fruits
    block content